.slide {
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 300px);
  right: 0;
  bottom: 0;
}

.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  0% {
    transform: translate(600px, 300px) rotate(60deg);
  }
  100% {
    transform: translate(0, 0) rotate(-10deg);
    transform-origin: 30% 50%;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate(-600px, 300px) rotate(-60deg);
  }
  100% {
    transform: translate(0, 0) rotate(10deg);
    transform-origin: 30% 50%;
  }
}
